

html, body{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none !important;
}


#section0, #section1, #section2, #section3{
    height: auto !important;
    overflow: auto;
    
}
#section0{
}
#section1{
    background: #fff;
}
#section2{
    background: #EEEEEE;  /* fallback for old browsers */

}

#section3{
    background-image: url(../images/bg_0.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Photo by Tobias van Schneider on Unsplash */
.parallax{
    background-image: url(../images/tobias-van-schneider-230171.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 40px;
    background: #fff !important;
}
.typeit-div{
    padding-left: 100px;
    padding-right: 100px;
}
.logo{
    height: 60px;
    width: 60px;
}
.logo-container{
    height: 135px ;
    padding-top: 15px;
}
.text-on-img{
    z-index: 2;
    position: absolute;
}

.dollar-sign{
    margin-right: 17px;
    font-family: 'Source Code Pro', monospace;
    color: #fff
}
#main{
    font-family: 'Source Code Pro', monospace;
    color: #fff
}

hr{
    border-top: 0px
}
.terminal{
    box-shadow: 0 50px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);
    border-radius: 10px 10px 6px 6px;
}
.terminal-header{
    height: 28px;
    background-color: #E4E3E5;
    border-radius: 10px 10px 0 0;
    align-items: center;
    display: flex;
}
.red-circle{
    height: 14px;
    width: 14px;
    background-color: #f96256;
    border: 1px solid #f65549;
    border-radius: 50%;
    margin-left: 9px;
}
.yellow-circle{
    height: 14px;
    width: 14px;
    background-color: #fdbc3d;
    border: 1px solid #ffb524;
    border-radius: 50%;
    margin-left: 9px;
}
.green-circle{
    height: 14px;
    width: 14px;
    background-color: #33c948;
    border: 1px solid #2dbb41;
    border-radius: 50%;
    margin-left: 9px;
}
.terminal-body{
    background: #666385;
    height: 300px;
    z-index: 1;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 80px;
    border-radius: 0 0 6px 6px;
}
.heading-underline{
    width: 150px;
    background-color: #333;
    height: 10px;
}
.heading-underline-contact{
    width: 150px;
    background-color: #fff;
    height: 10px; 
}
.landing-text{
    margin-top: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.pageHeadings{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.imgGlobal {
    display: block;
    margin: auto;
}


.landing-bottom{
    position: relative;
    text-align: center;
}

.infoCards{
    background-color: transparent;
    border-width: 0px;
}
.infoCardHeadings{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 700;
}
.infoText{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.svg-wrapper {
  height: 60px;
    margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #333333;
}

.text {
  color: #333;
  font-family: 'Montserrat';
  font-size: 22px;
    font-weight: 600;
  letter-spacing: 2px;
  line-height: 32px;
  position: relative;
  top: -38px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 4px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}


#ui{
    opacity: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
#corpsites{
    opacity: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
#webapp{
    opacity: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
#ecom{
    opacity: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.tsc_divider6_black {
  height: 35px;
  width: 90%;
  margin:0px auto;
  background: url(../images/tsc_divider6_black.png) no-repeat scroll center;
  padding:6px;
}

.p-img{
    height: auto;
    width: 100%;
}

.p-heading{
    font-family: 'Montserrat' , sans-serif;
    font-weight: 600;
    font-size: 2em;
    padding-top: 20px;
}

@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(55, 58, 60, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(55, 58, 60, 0.75);
  }
}
.hvr-back-pulse {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
    padding: 1em 1.5em;
    background: #666385;
    color: floralwhite;
    font-family: 'Open Sans', sans-serif;
    border-radius: 50px;
    
}
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #333333;
  background-color: #333333;
  color: white;
}
.blankdiv{
    height: 40px;
}
.blankdiv2{
    height: 20px;
}
hr{
    background-color: lightgrey;
    height: 1px;
}
.quotes{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0px !important;
}
.by{
    float: right;
    font-family: 'Open Sans', sans-serif;
}

.contactHeading{
    margin-bottom:0%;
    margin-top:50px;
    color:#ffffff;
}
.contactText{
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
    font-weight:300;
    color:#ffffff;
}
.form-group{
    font-family: 'Open Sans', sans-serif;
}
.footer{
    height: 150px;
}

.footer-logo{
    margin-top: 40px;
    width: 50px;
    height: 50px;
    float: left;

}

.footer-para{
    float: right;
    font-weight: 300;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    color: #D5D6D2;
    margin-right: 30px;
    margin-top: 40px;
}
.footer-para-head{
    
    font-size: 19px;

}
.foot-text{
    color: #D5D6D2;
    margin-top: 100px;
    margin-bottom: 20px;
    float: left;
    position: absolute;
}



@media (max-width: 768px) {
    .row-text{
        text-align: center;
    }
    .p-heading{
        font-size: 1.5em ;
        margin-top: 20px;
    }
    .pageHeadings{
        font-size: 2em ;
    }
    .p-img{
        margin-bottom: 20px
    }
    .by{
        margin-bottom: 20px;
    }
    .card-img{
        margin-bottom: 60px;
    }
    .abt-hdng{
        margin-bottom: 10% ;
    }
    .code-img{
        width: 500px !important;
    }
    .landing-text{
        display: block;
    }
    .typeit-div{
    padding-left: 20px;
    padding-right: 20px;
}
    
}

@media (max-width: 576px) {

    .landing-text{
        color: #fff;
    }
    .logo-container{
        height: 130px;
    }
    #main{
        font-size: 16px;
    }
    .dollar-sign{
        font-size: 16px;
    }
    .terminal-body{
        height: 150px;
    }
    .navbar{
        padding-left: 20px;
    }

}

@media (min-width: 768px) {
    #downArrow{
        margin-bottom: 40px;
    }
    .quotes{
        font-size: 1.5em;
        line-height: 1.4em;
    }
    .quote-row{
        width: 50%;
        margin: auto;
    }
    .by{
        font-size: 1.2em;
    }
    .card-img{
        margin-top: 30px;
    }
    .landing-text{
        display: none;
    }
}




@media (min-width: 1400px) {
    .logo-container{
        margin-bottom: 100px;
    }
    .logo{
        height: 120px;
        width: 120px;
    }
    .text-on-img{
        font-size: 2rem;
    }
    .p-heading{
        font-size: 2.5rem;
    }
    .pageHeadings{
        font-size: 3rem;
    }
}
@media (min-width: 1920px){
    .logo{
        height: 130px;
        width: 130px;
    }
    .code-img{
        width: 800px;
        height: 350px;
    }
}

@media (max-width: 370px){
    #main{
        font-size: 16px;
    }
    .dollar-sign{
        font-size: 18px;
    }
    
}
@media (max-width: 450px){
    .landing-bottom{
        display: none;
    }
}