

html, body{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none !important;
}
.font-color{
    color: white !important;
}
.logo{
    height: 100px;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}
.logo-container{
    height: 135px !important;
    padding-top: 15px;
}

#section0{
    height: 100%;
}
#section1, #section2, #section3{
    height: auto !important;
    overflow: auto;
    
}
#section0{
    background-image: url(../images/landing3-1.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: #333333;    
    background-attachment: fixed;
}


.text-on-img{
    position: absolute;
    padding-top: 45px;
    padding-left: 275px;
    color: #fff !important;
    z-index: 2;
    font-size: 1.75em !important;
}
.code-img{
    position: relative;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
}
.code-img-container{
    margin-bottom: 40px;    
}
#section1{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
#section2{
    background: #EEEEEE;  /* fallback for old browsers */

}

#section3{
    background: #333333;
}

hr{
    border-top: 0px
}
.landing-text{
    margin-top: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}
.form-group{
    font-family: 'Open Sans', sans-serif;
}
.pageHeadings{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.landingHeading2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}
.imgGlobal {
    display: block;
    margin: auto;
}

@media (max-width: 768px) {
    .svg-wrapper{
        display: none;
    }
    #ui{
        font-size: 22px
    }
    #corpsites{
        font-size: 22px
    }
    #webapp{
        font-size: 22px
    }
    #ecom{
        font-size: 22px
    }
    .row-text{
        text-align: center;
    }
    .p-heading{
        font-size: 1.5em !important;
        margin-top: 20px;
    }
    .pageHeadings{
        font-size: 2em !important;
    }
    .p-img{
        margin-bottom: 20px
    }
    .by{
        margin-bottom: 20px;
    }
    .card-img{
        margin-bottom: 60px;
    }
    .abt-hdng{
        margin-bottom: 10% !important;
    }
    .code-img{
        width: 500px !important;
    }
    .landing-text{
        display: block;
    }
    
}

@media (max-width: 576px) {
    .code-img{
        width: 400px !important;
    }
}
@media (max-width: 470px) {
    .code-img{
        width: 300px !important;
    }
}

@media (min-width: 768px) {
    #downArrow{
        margin-bottom: 30px;
    }
    .quotes{
        font-size: 1.5em;
        line-height: 1.4em;
    }
    .quote-row{
        width: 50%;
        margin: auto;
    }
    .by{
        font-size: 1.2em;
    }
    .card-img{
        margin-top: 30px;
    }
    .landing-text{
        display: none;
    }
}

.infoCards{
    background-color: transparent;
    border-width: 0px;
}
.infoCardHeadings{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 700;
}
.infoText{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.svg-wrapper {
  height: 60px;
    margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #333333;
}

.text {
  color: #333;
  font-family: 'Montserrat';
  font-size: 22px;
    font-weight: 600;
  letter-spacing: 2px;
  line-height: 32px;
  position: relative;
  top: -38px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 4px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}


#ui{
    opacity: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
#corpsites{
    opacity: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
#webapp{
    opacity: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
#ecom{
    opacity: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.tsc_divider6_black {
  height: 35px;
  width: 90%;
  margin:0px auto;
  background: url(../images/tsc_divider6_black.png) no-repeat scroll center;
  padding:6px;
}

.p-img{
    height: auto;
    width: 100%;
}

.p-heading{
    font-family: 'Montserrat' , sans-serif;
    font-weight: 600;
    font-size: 2em;
    padding-top: 20px;
}

@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(55, 58, 60, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(55, 58, 60, 0.75);
  }
}
.hvr-back-pulse {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
    padding: 1em 1.5em;
    background: #006DF1;
    color: floralwhite;
    font-family: 'Open Sans', sans-serif;
    border-radius: 50px;
    
}
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #333333;
  background-color: #333333;
  color: white;
}
.blankdiv{
    height: 40px;
}
.blankdiv2{
    height: 20px;
}
hr{
    background-color: lightgrey;
    height: 1px;
}
.quotes{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0px !important;
}
.by{
    float: right;
    font-family: 'Open Sans', sans-serif;
}

.contactHeading{
    margin-bottom:5%;
    margin-top:50px;
    color:#ffffff;
}
.contactText{
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
    font-weight:300;
    color:#ffffff;
}